# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Appwrite Configuration
NEXT_APPWRITE_KEY=your_appwrite_api_key_here
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT=your_project_id_here

# Appwrite Database Configuration
NEXT_PUBLIC_APPWRITE_DATABASE_ID=your_database_id_here
NEXT_PUBLIC_APPWRITE_WORKSPACES_ID=your_workspaces_collection_id_here
NEXT_PUBLIC_APPWRITE_MEMBERS_ID=your_members_collection_id_here

# Appwrite Storage Configuration
NEXT_PUBLIC_APPWRITE_BUCKET_ID=your_bucket_id_here